@import "tailwindcss";
@import "./styles/sidebar.css";
@import "./styles/animations.css";

* {
  font-family: "Open Sans", Arial;
  box-sizing: border-box;
}
:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #f6f6f6; /* f9f9f9*/
  --color-fg-primary: #020202;
  --color-muted-text: #818181;
  --color-highlight: #2a78d6;
}

body {
  @apply bg-bg-primary text-fg-primary gap-2;
}

@theme {
  --animate-slideDown: slideDown 300ms ease-out;
  --animate-slideUp: slideUp 300ms ease-out;
}

@theme inline {
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-fg-primary: var(--color-fg-primary);
  --color-muted-text: var(--color-muted-text);
  --color-highlight: var(--color-highlight);
}

[data-theme="dark"] {
  --color-bg-primary: #0a0a0a;
  --color-bg-secondary: #1a1a1a;
  --color-fg-primary: #f9f9f9;
  --color-muted-text: #818181;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.pop-up {
  animation: popUp 0.3s ease;
}

.slideUp {
  animation: slideUp 0.3s;
}
.slideDown {
  animation: slideDown 0.3s;
}

.scrollbar {
  padding: 8px;
  padding-right: 8px;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-fg-primary);
  margin: 20px;
  border-radius: 999px;
}
